<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="./assets/images/logo.jpg"
          class="img-responsive center-block"
          style="max-height: 300px; padding-bottom: 50px;"
        />
      </div>

      <div class="text-center">
        Developed in Angular with
        <span style="color: red; font-size: 25px;">&hearts;</span> by
        <strong>
          <a style="text-decoration: none;" href="https://github.com/balram02">
            @Balram02
          </a>
        </strong>
      </div>
    </div>
  </div>
</div>
